.chatContainer {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;}
.chatHeader {
    background-color: #0078d7;
    color: #fff;
    padding: 30px;
    font-size: 1rem;
    text-align: center;
}

.chatWindow {
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    scrollbar-gutter: stable;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.chatWindowLight{
    background-color: black;
    padding: 10px;
    height: 750px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chatMessage {
    padding: 8px 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word; /* Перенос длинных слов */
    overflow-wrap: break-word; /* Альтернативный способ для современных браузеров */
    white-space: pre-wrap; /* Сохраняет переносы строк, если они есть, и переносит текст */
}
.img_сhat {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 30px;
    top:7px;
    border-radius: 50%; /* Делает изображение круглым */
    overflow: hidden;   /* Убедитесь, что содержимое изображения обрезается */
    object-fit: cover;  /* Масштабирует изображение, чтобы оно полностью поместилось */
}
.title_chat{
    position: absolute;
    left: 90px;
    top:15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.user {
    align-self: flex-end;
    background-color: purple;
    color: #fff;
    animation: fadeIn 0.5s ease forwards;
}

.other {
    align-self: flex-start;
    background-color: #e0e0e0;
    color: #333;
    animation: fadeIn 0.5s ease forwards;
    display: flex;
    flex-direction: column; /* Дочерние элементы располагаются вертикально */
    padding: 5px; /* Отступы для улучшения внешнего вида */
    border-radius: 5px; /* Радиус для скругления углов */
}

.chatInput {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f0f2f5;
}

.messageInput {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.sendButton {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #0078d7;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sendButton:hover {
    background-color: #005a9e;
}
.chatImage {
    width: 170px; /* Изображение не превышает ширину родительского контейнера */
    height: 200px; /* Сохраняет пропорции изображения */
    border-radius: 8px; /* Округлённые углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Лёгкая тень для улучшения визуального эффекта */
    margin-top: 10px; /* Отступ сверху */
    margin-bottom: 10px; /* Отступ снизу */
}
.imageFrame {

    padding: 5px; /* Отступ между изображением и рамкой */
    margin: 10px 0; /* Отступы сверху и снизу */
    display: inline-block; /* Отображение как блочный элемент */


}
.strTime{
    margin-bottom: 2px;

}
.messageTimestamp {
    font-size: 0.75rem; /* Уменьшенный размер текста */
    color: black;
    margin-top: 5px;
    text-align: right; /* Выровнять время по правому краю */
}
.screpka {
    width: 20px;
    height: 20px;
    object-fit: cover; /* Ensures the image is properly scaled without distortion */
    border-radius: 50%; /* Optional: Makes the image circular */
}
.file-input-container1{
    position: relative;
    width: 10%;
    margin-bottom: 10px;
}
.file-input-container1 input[type="file"] {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.screpka {
    width: 30px;
    height: 30px;
    cursor: pointer;
    object-fit: cover;
}
.file-input-label1 {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer
}

.file-input-label1 img {
    width: 10%;
    height: 10%;
    object-fit: cover;
}
.fileIcon {
    width: 24px; /* Установите ширину изображения */
    height: 24px; /* Установите высоту изображения */
    object-fit: cover; /* Убедитесь, что изображение сохраняет пропорции */
    cursor: pointer; /* Указатель меняется на "руку" при наведении */
}




.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Тёмный прозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Поверх всех элементов */
}

.modalContent {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalImage {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}



.chatContainer.blur {
    filter: blur(8px); /* Применяем размытие при открытии модального окна */
}
.hiddenInput {
    display: none;
}
.dateDivider {
    text-align: center;
    margin: 10px auto; /* автоматическое выравнивание по горизонтали с отступами сверху и снизу */
    width: 20%;
    color: white;
    background: rgba(70, 70, 70, 0.3); /* полупрозрачный фон */
    padding: 5px;
    border-radius: 5px;
}
.senderOther{
    color: forestgreen;
    font-family: 'Roboto', sans-serif;
}

