

.back_up {
    position: fixed; /* фиксируем положение кнопки */
    top: -10px;       /* расположение сверху */
    left: 10px;      /* расположение слева */
    z-index: 1001;   /* чтобы кнопка была выше других элементов */
    width:50px;
    height: 50px;
   background-color:white;
    background-image: url('https://cdn-icons-png.flaticon.com/512/318/318504.png');
    background-size:cover;
}
.back_up:hover{

}

/* Styles/Profile.css */

#myImage {
    width: 150px;  /* Set the desired width */
    height: 150px; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
     /* Optional: make the image circular */
    border: 2px solid #ccc; /* Optional: add a border */
}


nav {
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    z-index: 1000;
    display: flex;
    top:0px;
    right: 0px;
}

.sun {
    background-color: white;
}

main {
    padding: 50px;
}
.gold {
    z-index: 4;
    width: 100vw; /* видео на всю ширину экрана */
    top: 10px; /* отступ сверху 30px */
    margin-bottom: 51px; /* отступ снизу 51px */
}

p {
    margin: 20px;
}.burger-btn {
     width: 30px;
     height: 30px;
     position: absolute;
     right: 20px; /* Отступ от правого края экрана */
     top: 1px; /* Отступ сверху, если требуется */
     cursor: pointer;
 }

.burger-btn span {
    display: block;
    position: absolute;
    margin: 10px;
    width: 30px;
    height: 2px;
    background-color: white;
    transition: transform 0.5s, top 0.5s, opacity 0.5s;
}

/* Positioning the lines */
.burger-btn .line1 {
   top: 6px;
}

.burger-btn .line2 {
    top: 14px;
}

.burger-btn .line3 {
    top: 22px;
}

/* Active state for each line */
.burger-btn .line1.active {
    transform: rotate(180deg);

}

.burger-btn .line2.active {
    transform: rotate(180deg);
    top: 14px;
    margin-outside: 8px;
}

.burger-btn .line3.active {
    transform: rotate(180deg);
    top: 22px;
    margin-outside: 8px;
}


.toggle-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

/* Скрываем стандартный чекбокс */
.toggle-input {
    display: none;
}

/* Стиль для лейбла переключателя */
.toggle-label {
    cursor: pointer;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    position: relative;
    transition: background-color 0.3s;
}

/* Стиль для ползунка переключателя */
.toggle-label::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* Состояние переключателя в положении "включено" */
.toggle-input:checked + .toggle-label {
    background-color: black;
}

/* Ползунок переключателя при активном состоянии */
.toggle-input:checked + .toggle-label::before {
    transform: translateX(26px);
}

.formForSocials {
    position: fixed; /* фиксируем положение кнопки */
    top: 100px;       /* расположение сверху */
    left: 10px;      /* расположение слева */
    z-index: 1001;   /* чтобы кнопка была выше других элементов */
    background-color: #000;
    height: 90px; /* цвет фона */
    color: #fff;     /* цвет текста */
    border: none;    /* убрать границы */
    padding: 10px 20px; /* внутренние отступы */
}



.link-preview {
    position: fixed; /* фиксируем положение кнопки */
    top: 70px;       /* расположение сверху */
    left: 10px;      /* расположение слева */
    z-index: 1001;   /* чтобы кнопка была выше других элементов */
    background-color: #24292e; /* Цвет фона */
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Arial', sans-serif;
}

.link-preview a, .link-preview1 a {
    color: #58a6ff; /* Цвет ссылки */
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s; /* Плавный переход цвета и подчёркивания */
}

.link-preview a:hover, .link-preview1 a:hover {
     /* Цвет ссылки при наведении */
    text-decoration: underline;
}

.link-preview1 {
    position: fixed; /* фиксируем положение кнопки */
    top: 120px;       /* расположение сверху */
    left: 10px;      /* расположение слева */
    z-index: 1001;   /* чтобы кнопка была выше других элементов */
    background-color: #24292e; /* Цвет фона */
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Arial', sans-serif;
}
.playlists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.playlist-item {
    width: 150px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.playlist-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.playlist-item p {
    margin-top: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.messanger-container{
    position: absolute;
    top:60px;
    right:5%;
    width: 60%;
    height: 20%;
}

@media(max-width: 868px){
    .messanger-container {
        width: 500px;
    }
}
@media(max-width: 1690px){
    .messanger-container {
        width: 600px;
    }
}
@media(max-width: 1301px){
    .messanger-container {
        width: 500px;

    }
}
@media(max-width: 1px){
    .messanger-container {
        width: 500px;

    }
}
.blur {
    width: 0;
    height: 0;
    position: fixed; /* Фиксированное позиционирование для покрытия всего экрана */
    top: 0;
    left: 0;
    transition: all 1s;
    z-index: 10; /* Должен перекрывать остальное содержимое */
    backdrop-filter: none; /* Нет размытия по умолчанию */
    background: transparent;
}

.blur.active {
    width: 100%; /* Полная ширина экрана */
    height: 100vh; /* Полная высота экрана */
    backdrop-filter: blur(5px); /* Применяем эффект размытия */
    /* Фоновое изображение */
    background-size: cover; /* Покрывает весь экран */
    transition: all 1s;
}
.chats-container {
    position: absolute; /* или fixed для фиксированной позиции */
    top: 50px; /* Настраивайте отступы по мере необходимости */
    left: 15%;
    transform: translateX(-50%);
    width: 100%; /* Можно задать ширину для компонента */
    max-width: 600px; /* Ограничение ширины */

}

@media(max-width: 500px){
    .chats-container { /* Начинаем от левого края */
        width: 80%; /* Заполняем всю ширину экрана */
        max-width: none; /* Убираем ограничение ширины */

    }
}

@media(max-width: 868px){
    .chats-container{
        width: 80%;

    }
}
@media (max-width: 1948px) {
    .chats-container{
        width: 100%;
        left:17%
    }
}
@media (max-width: 1690px) {
    .chats-container{
        width: 80%;
        left:24%
    }
}
@media (max-width: 1368px) {
    .chats-container{
        width: 50%;
        left: 30%
    }
}
@media (max-width: 1132px) {
    .chats-container{
        width: 35%;
        left: 25%
    }
}
.nameTag{
    font-size: 0.9cm;
    font-family: Roboto, serif ;
    margin-left: 10px;
    margin-top: -5px ;
    margin-bottom: 10px;
}
